<div class="container">
      <h1>Consultas</h1>
        <div class="well">
            <%= link_to "Nova", new_consulta_path, remote: true, class: "btn btn-success" %>
        </div>
        <div class="new-consulta"></div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th>Data</th>
                  <th>Hora</th>
                  <th>Médico</th>
                  <th>Paciente</th>
                  <th colspan="3">Ação</th>
                </tr>
            </thead>

            <tbody class="consulta-index">
                <%= render "index" %>
            </tbody>
        </table>
</div>
<div id="consulta-modal" class="modal hide fade"></div>
